<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>分类管理</title>
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/mycss.css"/>
    <script type="text/javascript" src="static/bootstrap/js/jquery-1.12.4.js"></script>
    <script type="text/javascript">
        var ids = void 0;

        //			$(function(){
        //				sc();
        //			})
        //编辑按钮功能
        function bj(id){
            ids  =id
            $('#myModal').modal('show')
         console.log(id)
            // alert(id)
            // window.location.href=""
        }
        
        //删除功能按钮
        function sc(userId){
             alert(userId)
             window.location.href="https://www.lzjskt.com:8080/deleteUser?userId="+userId
        }
        function getdata() {
          var name=  $('#name').val()
          var password =  $('#pwd').val()
          var perms = $('#per').val()
            // alert(name)
            // alert(password)
            //这一句是隐藏模态框代码
            $('#myModal').modal('hide')
            console.log(name,password,ids)
            window.location.href="http://localhost:8080/updateUser?id="+ids+"&username="+name+"&password="+password+"&perms="+perms
        }
    </script>
</head>
<body>
<!--<div>-->
    <!--<ul th:each="userList:${userList}">-->
        <!--<li th:text="${userList.name}"/>-->
        <!--<li th:text="${userList.password}"/>-->
    <!--</ul>-->
<!--</div>-->
<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">查看管理员</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">添加管理员</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <table class="table table-striped">
                <tr>
                    <td>用户名</td>
                    <td>密码</td>
                    <td>权限级别</td>
                    <td>编辑</td>
                    <td>删除</td>
                </tr>
                <tr th:each="userList:${userList}">
                    <td th:text="${userList.username}"></td>
                    <td th:text="${userList.password}"></td>
                    <td th:text="${userList.perms}"></td>
                    <!--th:onclick="'bj('+${userList.id}+')'" data-target="#myModal"-->
                    <td>
                        <button th:onclick="'bj('+${userList.id}+')'" class="btn btn-primary btn-lg" data-toggle="modal" >编辑</button>
                    </td>
                    <!--<td th:onclick="'sc('+${userList.id}+')'">删除</td>-->
                    <td>
                        <button th:onclick="'sc('+${userList.id}+')'" class="btn btn-primary btn-lg" data-toggle="modal" >删除</button>
                    </td>
            </table>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">修改管理员信息</h4>
                    </div>

                    <div class="modal-body">
                        修改用户名 <input name="username" id="name" style="width: 200px; height:25px; border-radius: 5px;"/>
                    </div>

                    <div class="modal-body">
                        修改密码&nbsp;&nbsp;&nbsp;&nbsp;<input name="password" id="pwd" style="width: 200px; hesight:15px; border-radius: 5px;"/>
                    </div>
                    <div>
                        <a>权限级别</a>
                        <!--<input type="text">-->
                        <select name="perms" id="per">
                            <option value="user:user">管理员</option>
                            <option value="user:admin">超级管理员</option>
                        </select>

                    </div>
                    <div class="modal-footer">
                        <button type="button"  class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" onclick="getdata()" class="btn btn-primary">提交更改</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
            <form action="/addUser">
                <table style="margin-left: 50px; margin-top: 50px;">
                    <tr>
                        <td align="right">用户名</td>
                        <td><input name="username" style="width: 200px; height:35px; border-radius: 5px;"/></td>
                    </tr>
                    <tr>
                        <td align="right">密码</td>
                        <td><input name="password" style="width: 200px; height:35px; border-radius: 5px;"/></td>
                        <!--<td><textarea rows="5" cols="50"></textarea></td>-->
                    </tr>
                    <tr>
                        <td align="right">
                            <a>权限级别</a>
                        </td>
                        <td>
                            <div>

                                <!--<input type="text">-->
                                <select name="perms">
                                    <option value="user:user">管理员</option>
                                    <option value="user:admin">超级管理员</option>
                                </select>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"></td>
                        <td><input type="submit" value="确认添加"/></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

</div>
<script type="text/javascript" src="static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>