<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>分类管理</title>
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/mycss.css"/>
    <style>
        .btnactive {
            background: #245580 !important;
            color: #fff !important;
        }

        .loadingss {
            width: 80px;
            height: 40px;
            margin: 0 auto;
            margin-top: 100px;
        }

        .loadingss span {
            display: inline-block;
            width: 8px;
            height: 100%;
            border-radius: 4px;
            background: lightgreen;
            -webkit-animation: load 1s ease infinite;
        }

        @-webkit-keyframes load {
            0%, 100% {
                height: 40px;
                background: lightgreen;
            }
            50% {
                height: 70px;
                margin: -15px 0;
                background: lightblue;
            }
        }

        .loadingss span:nth-child(2) {
            -webkit-animation-delay: 0.2s;
        }

        .loadingss span:nth-child(3) {
            -webkit-animation-delay: 0.4s;
        }

        .loadingss span:nth-child(4) {
            -webkit-animation-delay: 0.6s;
        }

        .loadingss span:nth-child(5) {
            -webkit-animation-delay: 0.8s;
        }
    </style>
    <script type="text/javascript" src="static/bootstrap/js/jquery-1.12.4.js"></script>
    <script type="text/javascript">
        var ids = void 0;

        //			$(function(){
        //				sc();
        //			})
        //编辑按钮功能
        function bj(id) {
            ids = id
            $('#myModal').modal('show')
            console.log(id)
            // alert(id)
            // window.location.href=""
        }

        //删除功能按钮
        function sc(videoId) {
            alert(videoId)
            window.location.href = "https://www.dududu.xyz:8080/backstageDeleteVideoById?videoId=" + videoId
        }


        $(window).ready(function () {
            gettable(1)
        })
        var totalPages = 1;//总页数
        var pageNumber = 1;//当前页
        var pageSize = 8;//每页条数  每页条数该这个变量就是了 你先把接口写好ok
        var totalItems = 0;//总条数
        var isPrevious = false;//是否禁用下一页
        var isNext = false;//是否禁用上一页
        var content = [];//当前页面数据
        function gettable(pageNum) {
            showLoading()
            pageNumber = pageNum
            $.ajax({
                url: "backstageGetVideoListPaging",//后台的接口地址
                type: "get",//post请求方式
                data: {
                    columnId: 4003,
                    pageNum: pageNum,
                    pageSize: pageSize
                },//参数
                success: function (data) {
                    content = data.data.data
                    totalItems = data.data.count;

                    let str = data.data.data.map((i, j) => `
                <tr>
                    <td>${i.title}</td>
                    <td>${i.lecturerName}</td>
                    <td>${i.briefIntroduction}</td>
                    <td>
                       <img src="${i.imgs}" style="width: 120px" height="80px">
                    </td>
                    <td>${i.creationTime}</td>
                    <td>
                     <button onclick="seeContent(${i.id})" class="btn btn-primary btn-sm" data-toggle="modal">查看内容</button>
                        <button onclick="sc(${i.id})" class="btn btn-danger btn-sm" data-toggle="modal">删除</button>
                     </td>
                </tr>
                    `).join('');
                    $("#tabId").html(str)
                    for (let i = 0; i <= data.data.data.length; i++) {
                        if (data.data.data[i]) {
                            $(`#content${i}`).text(data.data.data[i].content)
                        }

                    }

                    isNext = false;
                    isPrevious = false
                    if (pageNumber == 1) {
                        isNext = true;
                    } else if (totalItems == pageNumber) {
                        isPrevious = true
                    }
                    console.log(isNext, isPrevious);
                    //总页数
                    let totalPages = Math.ceil(totalItems / pageSize);
                    let paginationStr = `<li class="${isNext ? 'disabled' : ''}"  onclick="nextPage(0)"><a href="javascript:void(0)">&laquo;</a></li>`
                    for (let i = 1; i <= totalPages; i++) {
                        paginationStr += `<li  onclick="gettable(${i})"><a class="${i == pageNumber ? 'btnactive' : ''}" href="javascript:void(0)">${i}</a></li>`
                    }
                    paginationStr += `<li class="${isPrevious ? 'disabled' : ''}" onclick="nextPage(1)"><a href="javascript:void(0)">&raquo;</a></li>
    <span style="line-height: 34px;margin-left: 12px;">当前 ${pageNumber} 页/共 ${totalPages} 页，共 ${totalItems} 条/显示 ${pageSize * pageNumber - pageSize + 1}-${pageSize * pageNumber} 条</span>`

                    $("#pagination").html(paginationStr)
                    hideLoading()
                }, error: function () {
                    hideLoading()
                    alert("操作失败~");
                }
            })
        }

        function nextPage(type) {

            if (!type) {
                //    上一页
                if (!isNext) {
                    gettable(pageNumber - 1)
                }

            } else {
                if (!isPrevious) {
                    gettable(pageNumber + 1)
                }
            }

        }

        //展示loading框
        function showLoading() {
            $('#loadingModal').modal({backdrop: 'static', keyboard: false});
        }

        //隐藏掉loading框
        function hideLoading() {
            $('#loadingModal').modal('hide');
        }

        // 查看内容
        function seeContent(val) {
            let [res] = content.filter(i => i.id == val);
            $("#modalTitle").text(res.briefIntroduction);
            $("#modalContent").html(res.content);

            $('#seeContent').modal('show')
        }

        function submitBtn() {
            var forms = $(`<form action="/backstageAddVideo" method="post" enctype="multipart/form-data"></form>`)
            forms.html($("#tabFrom")[0])
            $("body").append(forms)
            forms.submit()
        }

    </script>
</head>
<body>
<!--<div>-->
<!--<ul th:each="userList:${userList}">-->
<!--<li th:text="${userList.name}"/>-->
<!--<li th:text="${userList.password}"/>-->
<!--</ul>-->
<!--</div>-->
<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
                                                  data-toggle="tab">查看视频</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">添加视频</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <table class="table table-striped">
                <tr>
                    <td>视频主题</td>
                    <td>讲师名称</td>
                    <td>视频简介</td>
                    <td>封面图片</td>
                    <td>创建时间</td>
                    <td>操作</td>
                </tr>
                <tbody id="tabId"></tbody>
                <!--<tr th:each="videos:${videos}">-->
                <!--<td th:text="${videos.title}"></td>-->
                <!--<td th:text="${videos.lecturerName}"></td>-->
                <!--<td th:text="${videos.briefIntroduction}"></td>-->
                <!--<td th:text="${videos.creationTime}"></td>-->
                <!--<td>-->
                <!--<button th:onclick="'sc('+${videos.id}+')'" class="btn btn-primary btn-lg" data-toggle="modal" >删除</button>-->
                <!--</td>-->
                <!--</tr>-->
            </table>
            <div>
                <ul class="pagination" id="pagination">

                </ul>
            </div>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">修改管理员信息</h4>
                    </div>
                    修改用户名
                    <div class="modal-body">
                        <input name="name" id="name" style="width: 200px; height:35px; border-radius: 5px;"/>
                    </div>
                    修改密码
                    <div class="modal-body">
                        <input name="password" id="pwd" style="width: 200px; hesight:35px; border-radius: 5px;"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" onclick="getdata()" class="btn btn-primary">提交更改</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
            <!--<form action="/backstageAddVideo" method="post">-->
            <table id="tabFrom" style="margin-left: 50px; margin-top: 50px;">
                <tr>
                    <td align="right">讲师名称</td>
                    <td><input name="lecturerName" style="width: 200px; height:35px; border-radius: 5px;"/></td>
                </tr>
                <tr>
                    <td align="right">视频主题</td>
                    <td><input name="title" style="width: 200px; height:35px; border-radius: 5px;"/></td>
                    <!--<td><textarea rows="5" cols="50"></textarea></td>-->
                </tr>
                <tr>
                    <td>
                        <input type="hidden" name="imgType" value="1">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="hidden" name="columnId" value="4003">
                    </td>
                </tr>
                <tr>
                    <td align="right">视频简介</td>
                    <td><input name="briefIntroduction" style="width: 200px; height:35px; border-radius: 5px;"/></td>
                </tr>
                <tr>
                    <td align="right">
                    <td>
                        <div class="changeDiv">
                            <a>是否推荐</a>
                            <select name="recommend">
                                <option value="4001">是</option>
                                <option value="1">否</option>
                            </select>
                        </div>
                    </td>
                    </td>
                </tr>
                <tr>
                    <td align="right">视频图片</td>
                    <td>
                        <input type="file" name="file" id="file1"/>
                    </td>
                </tr>
                <tr>
                    <td align="right">视频内容</td>
                    <td>
                            <textarea style="font-size: 19px" type="text" name="content" rows="15" cols="120">
                                    <h3>正文</h3>
                                    vid=##腾讯视频##
                                    <h3>正文</h3>
                                </textarea>
                    </td>
                </tr>

                <tr>
                    <td align="right"></td>
                    <td>
                        <button onclick="submitBtn()" th:height="15" th:width="40">确认添加</button>
                    </td>
                </tr>
            </table>
            <!--</form>-->
        </div>
    </div>
    <!--loading-->

    <div class="modal fade" id="loadingModal" backdrop="static" keyboard="false">
        <div style="width: 200px;height:100px; z-index: 20000; position: absolute; text-align: center; left: 50%; top: 50%;margin-left:-100px;margin-top:-10px">
            <div class="loadingss">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!--查看内容-->
    <div class="modal fade" id="seeContent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="modalTitle">

                    </h4>
                </div>
                <div class="modal-body">
                    <div id="modalContent"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>